.avatar-container{
    width: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.img-avatar{
    width: 50px;
    height: 50px;
    max-height: 55px;
    background-size: cover;
    border-radius: 50px;
}