.header-container{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-right-header{
    display: flex;
    width: 55%;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}

.right-responsive{
    display: flex;
    align-items: center;
}

@media (max-width: 900px){
    .header-container .search-input{
        display: none;
    }

    .header-container{
        align-items: center;
    }
    .items-right-header{
        width: 100%;
        justify-content: space-between;
    }
}