.revenue-group {
    height: 30%;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 3%;
    justify-content: space-between;
}

.card-revenue{
    width: 47%;
    height: 47%;
    
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-revenue:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

@media (max-width: 900px){
    .revenue-group{
        height: 100vh;
        padding: 0 15px;
    }

    .card-revenue{
        height: 250px;
    }
}

@media (max-width: 600px){

    .revenue-group{
        justify-content: center;
    }
    
    .card-revenue{
        width: 92%;
    }
}